<ol class="list-group">
  <li
    *ngFor="let personne of personnes; let isOdd = odd"
    class="list-group-item"
    [ngClass]="{
      'list-group-item-danger': isOdd,
      'list-group-item-warning': !isOdd
    }"
  >
    <app-item
      (selectPersonneEvent)="forwardPersonne($event)"
      [personne]="personne"
    ></app-item>
    <!--     <p>
      {{ personne.age }} après conversion :
      {{ personne.age | euroDollar: isOdd | currency: "EUR" }}
    </p> -->
  </li>
</ol>

<!-- <p *ngFor="let name of names">{{ name }}</p>
<p *ngFor="let element of test; let isOdd = odd">
  <span *ngIf="isOdd; else elseBlock">name : {{ element }}.</span>
  <ng-template #elseBlock
    >version : {{ element | uppercase | slice: 2:6 }}</ng-template
  >
</p> -->
